.experience-accord {
  margin: 50px;
}

.accord-panel {
  font-family: "Google Sans Regular";
  background-color: lightgray;
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}

.vertical-timeline-width {
  width: 100%;
}
